@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}body,button,input,select,textarea{-webkit-text-size-adjust:none;font:12px/1.5 Tahoma,Arial,sans-serif}h1,h2,h3,h4,h5,h6{font-size:100%}address,cite,dfn,em,var{font-style:normal}ul,ol,li{list-style:none}a{text-decoration:none}legend{color:#000}fieldset,img{border:0;vertical-align:top;}section,article,aside,header,footer,nav,dialog,figure{display:block;}figure{margin:0;}button,input,select,textarea{font-size:100%}table{border-collapse:collapse;border-spacing:0}html {overflow-y:scroll;}.clear{display:block;height:0;overflow:hidden;clear:both}.clearfix:after{content:'\20';display:block;height:0;clear:both}.clearfix{*zoom:1}a:link,a:visited{text-decoration:none}a:hover,a:active{text-decoration:underline}a{blr:expression_r(this.onFocus=this.blur())}a{outline:none;}.none{display:none;}.block{display:block;}.noBg{background:none !important;}.noBd{border:none !important;}.noPd{padding:0 !important;}

body { height:868px; background:url(bg.jpg) no-repeat center top; color:#333; }
a { color:#333; }
.wrap { position:relative; width:1002px; margin:0 auto; clear:both; }
.header,.container,.footer { margin:0 auto; }

/* common */
.copyright {height:65px; padding-bottom:20px; line-height:65px; font-family:'Arial'; text-align:center; color:#333; }
.copyright a { color:#333; }

.banner { position:relative; width:1002px; height:599px; padding-top:27px; }
.banner .bd,.banner .bd li { width:1002px; height:599px; }
.banner .bannerBg { position:absolute; top:0; left:0; width:1002px; height:60px; background:url(hTopPic.png) no-repeat; z-index:99; }
.banner .hd { position:absolute; bottom:15px; right:15px; width:1002px; margin-left:-501px; height:14px; }
.banner .hd ul { float:right; }
.banner .hd li { float:left; width:14px; height:14px; margin:0 3px; border-radius:7px; background:#bebcbc; text-indent:-999em; display:inline; overflow:hidden; }
.banner .hd li.on { background:#0d70a6; }

/*nav*/
.nav { position:relative; width:892px; height:58px; padding:5px 55px 5px 65px; background:url(hNav.png) no-repeat; z-index:99; }
.nav li { position:relative; float:left; width:173px; height:58px; text-align:center; }
.nav li a { display:block; width:100%; height:58px; line-height:58px; text-indent:-999em; }